$color-accent: #CCFF00
$color-text: #000000
$color-text-alt: #454545
$color-border: rgba(0, 0, 0, 0.30)
$color-background-alt: #F2F2F2
$color-background: #FFFFFF

$body-font-family: "Borna", sans-serif
$heading-font-family: $body-font-family

$h1-line-height: 110%
$lead-line-height: 130%

$header-background: transparent
$header-dropdown-full: true
$header-logo-height: 50px
$header-logo-height-desktop: 70px
$header-border-bottom-width: 0
$body-overlay-color: $color-accent
$hero-background-color: transparent
$footer-color: $color-text
$footer-background-color: $color-accent
$footer-logo-height: 80px
$footer-logo-height-desktop: 140px
$block-chapter-layout-accent-color: $color-text
