body
    background-image: url(/assets/images/icon-color.svg)
    background-repeat: no-repeat
    background-size: 300px
    background-position: -22px 0
html.has-menu-opened, 
html.has-modal-opened, 
html.has-offcanvas-opened
    body::after
        mix-blend-mode: hard-light
        opacity: 0.9

.block-pages,
.block-posts
    article
        &:hover, 
        &:focus
            .media
                filter: none
                picture
                    mix-blend-mode: normal
        .media
            line-height: 0
            transition: filter 0.5s ease
            background: url(/assets/images/noise.svg)
            filter: sepia(1) hue-rotate(50deg) contrast(4)
            picture
                mix-blend-mode: color-burn

.hero
    figure
        background: url(/assets/images/noise.svg)
        filter: sepia(1) hue-rotate(50deg) contrast(4)
        transition: filter 0.5s ease
        &:hover, 
        &:focus
            filter: none
            picture
                mix-blend-mode: normal
        picture
            mix-blend-mode: color-burn
    .hero-actions
        .btn
            background: $color-accent
            border: none
            text-transform: uppercase
            padding: $spacing-3 $spacing-4
            &:hover
                background: black
                color: $color-accent

@include media-breakpoint-up(desktop)
    .posts__page
        .please-contribute
            .container
                padding-left: 0
.persons__section
    .taxonomies-persons
        display: none
main
    padding-bottom: 0 !important
body.full-width 
    .block-pages--list 
        .block-content 
            ul
                padding-left: $spacing-3
                li 
                    position: relative
                    a::before
                        position: absolute
                        left: -29px

.post-infos
    a
        color: $color-accent-dark
    
footer#document-footer
    .container:first-of-type
        justify-content: end
    .footer-credit
        margin-top: $spacing-2
//     z-index: -1
//     position: fixed
//     min-height: 100vh
//     top: 0
//     display: flex
//     flex-direction: column
//     justify-content: space-between
//     .container
//         justify-content: end
//         text-align: right
